<h1>SCALE LIBRARY</h1>

<ul class="menu">
  <%@scales.each do |scale|%>
    <li><%=link_to scale.name, "/scales/#{scale.name}/60"%></li>
  <%end%>
</ul>

<%=content_tag(:p, link_to("Add a new scale!", new_scale_path))%>
