<h1><%=@scale.name.titleize%></h1>


<script>
  var values = <%=@midi_notes%>;
</script>


<h3><input type="checkbox" class="checkbox"> Playback Scale</h3>

<h2>Notes</h2>
<%@notes.each do |note|%>
<%=note%>
<%end%>
