<h1>SCALE THIS!</h1>

<%=image_tag("Bass-Treble-Musical-Music-Clef-Silhouette-Note-3275055.png", class: ["logo"])%>


<%=link_to "See who's been practising!", musician_rankings_path("total-practises")%>
