<h1>SCALE THIS!</h1>

<img src="https://www.maxpixel.net/static/photo/2x/Bass-Treble-Musical-Music-Clef-Silhouette-Note-3275055.png" alt="music notes"><br>
<img src="https://cdn.pixabay.com/photo/2012/04/24/21/48/mountain-41008_1280.png" alt="mountain">


<%=link_to "See who's been practising!", musician_rankings_path("name")%>
