<p>Who has practised the most!</p>
<table>
  <tr>
    <th>Name</th>
    <th>Total Practises</th>
    <!-- <th>Last Practised</th> -->
  </tr>
<!-- <%@musicians.each do |m|%> -->
{{#musicians}}
  <tr>
    <td>{{name}}</td>
    <td>{{totalPractises}}</td>
    <!-- <td><%=last_practice_time(m)%></td> -->
  </tr>
{{/musicians}}
</table>
