/* Errors */
.flash-error, #error_explanation {
  border: 2px dashed red;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1%;
  font-size: 1em;
  margin-bottom: 1%;
}

#error_explanation p {
  text-align: center;
  font-size: 0.75em;
}

.field_with_errors label {
  color: red;
}

.field_with_errors input {
  background-color: #FFCCCC;
}

.upper_form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form_col_2 {
  width: 50%;
}

/* Pattern checkbox form */
.pattern_checkboxes {
  display: flex;
  flex-direction: column-reverse;
  // margin: 2%;
  justify-content: center;
 }
.pattern_checkboxes input {
  // display: inline;
  // flex-direction: column-reverse;
  // margin-left: 20%;
 }

.pattern_checkboxes label {
  // background-color: pink;
  padding-right: 10px;
  border-right: 3px solid black;
  // width: 20%;
}

.pattern_checkboxes label[for*='60'], label[for*='62'], label[for*='64'], label[for*='65'], label[for*='67'], label[for*='69'], label[for*='71'] {
  background: linear-gradient(to right, white , pink);
}

.pattern_checkboxes label[for*='61'], label[for*='63'], label[for*='66'], label[for*='68'], label[for*='70'] {
  background: linear-gradient(to right, white , orange);
}


/* Submit buttons */
// input[value="Change root"], input[value="Practised!"], input[value="Delete"]
input[name="commit"] {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: olivedrab;
  border: 1px dashed white;
  font-family: 'Special Elite', cursive;
  font-size: 90%;
  color: white;
  margin-top: 3%;
}

input[name="commit"]:hover {
  border: 1px dashed grey;
}

input[value="Practised!"], input[value="Update"] {
  font-size: 70%;
}

input[value="Change"] {
  background-color: orange;
  font-size: 90%;
}

input[value="Delete"] {
  background-color: red;
  margin-top: 0;
  font-size: 60%;
}

.add_scale, .edit_scale {
  font-size: 1.5em;
  background-color: #d0eec4;
  padding: 1%;
}
