/* Inoro, root change and practised data */
.scale_info {
  display: flex;
  justify-content: space-between;
  padding-top: 2%;
  margin-bottom: 3%;
  width: 100%;
}

.scale_info p {
  width: 30%;
  padding: 1%;
}

.scale_info div:not(.form) {
  border: 2px dashed grey;
  padding: 1%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

/* Delete and edit */
.scale_options div {
  background-color: pink;
}

/* Scales index */
// .scales_menu {
  // width: 60%;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
// }

.sidebar {
  display: block;
  width: 35%;
  border: 2px dashed grey;
  padding: 2%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
  margin-left: 2%;
}

.scale_type {
  width: 25%;
  border: 2px dashed grey;
  padding: 1%;
  margin: 0.5%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.scale_type li {
  list-style-type: none;
}
