@import 'highlights.less';
@import 'jquery-ui.min.less';
@import url('https://fonts.googleapis.com/css?family=Linden+Hill|Mountains+of+Christmas');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Megrim|Special+Elite');
// font-family: 'Special Elite', cursive;
// font-family: 'Megrim', cursive;

@red: olivedrab;


body, html
{
  margin-top: 2em;
  // height: 100%;
  width: 100%;

  font-family: 'Special Elite', cursive;
  font-size: 18px;
  text-align: center;
}

h1 {
  font-family: 'Megrim', cursive;
}

ul
{
  list-style-type: none;

  text-align: left;

  li
  {
    line-height: 1.5em;
  }
}

a:not(.nav-link) {
  text-decoration: none;
  color: olivedrab;
}

a:not(.nav-link):hover {
  text-shadow: 1px 2px orange;
}


.menu
{
  padding-top: 5%;
  display: flex;
  justify-content: space-around;
}

.form {
  align-self: center;
  padding: 2%;
}

.logo {
  height: 200px;
  width: auto;
}
