// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#practise_log {
  display: flex;
  justify-content: space-around;
}

.practised {
  border: 2px dashed grey;
  padding: 1%;
  border-top-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.today {
  background-color: #DAF7A6;
}

.yesterday {
  background-color: #ECF66F;
}

.this_week {
  background-color: #F6E86F;
}

.this_month {
  background-color: #F1C383;
}

.ages_ago {
  background-color: #FE8969;
}
